.App {
  text-align: center;
}

.header{
  border: 3px solid  black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px; 
}
.navigation{
  border: 3px solid black;
  padding: 10px;
}
.navigation a{
  text-decoration:none;
  color: black;
  border: 1px solid black;
  padding: 10px;
}
.project{
  border: 1px solid black;
  width: 40%;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portafolio{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

}